{
  "swagger": "2.0",
  "info": {
    "version": "2020-02-28-preview",
    "title": "Microsoft.IndustryDataLifecycle",
    "description": "Industry Data Lifecycle Resource provider."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IndustryDataLifecycle/organisationalModels": {
      "get": {
        "tags": [
          "OrganisationalModels"
        ],
        "summary": "Gets the list of organisational models under the resource group.",
        "operationId": "GetOrganisationalModels",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resouce group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The api version.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPagedResponseContract[IndustryModelInfo]"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetOrganisationalModels": {
            "$ref": "./Examples/GetOrganisationalModels.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IndustryDataLifecycle/organisationalModels/{modelId}": {
      "get": {
        "tags": [
          "OrganisationalModels"
        ],
        "summary": "Gets an industry model.",
        "operationId": "GetOrganisationalModel",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "modelId",
            "in": "path",
            "description": "The model Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The API Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetResponseContract[IndustryModel]"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetOrganisationalModel": {
            "$ref": "./Examples/GetOrganisationalModel.json"
          }
        }
      },
      "put": {
        "tags": [
          "OrganisationalModels"
        ],
        "summary": "Creates an industry model.",
        "operationId": "PutOrganisationalModel",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "modelId",
            "in": "path",
            "description": "The model Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request for creation of a model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestBodyForPutContract[Object]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResponseBodyForPutContract[Object]"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PutOrganisationalModel": {
            "$ref": "./Examples/PutOrganisationalModel.json"
          }
        }
      },
      "patch": {
        "tags": [
          "OrganisationalModels"
        ],
        "summary": "Patches an industry model.",
        "operationId": "PatchOrganisationalModel",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "modelId",
            "in": "path",
            "description": "The model Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version.",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The request for creation of a model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestBodyForPutContract[Object]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetResponseContract[IndustryModel]"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchOrganisationalModel": {
            "$ref": "./Examples/PatchOrganisationalModel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IndustryDataLifecycle/standardModels": {
      "get": {
        "tags": [
          "StandardModels"
        ],
        "summary": "Gets the list standard model",
        "operationId": "GetStandardModels",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The API Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPagedResponseContract[IndustryModelInfo]"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetStandardModels": {
            "$ref": "./Examples/GetStandardModels.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IndustryDataLifecycle/standardModels/{modelId}": {
      "get": {
        "tags": [
          "StandardModels"
        ],
        "summary": "Gets the standard model metadata.",
        "description": "Gets the standard model from the Id Specified.",
        "operationId": "GetStandardModel",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "modelId",
            "in": "path",
            "description": "The model Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The API Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetResponseContract[IndustryModel]"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetStandardModel": {
            "$ref": "./Examples/GetStandardModel.json"
          }
        }
      }
    }
  },
  "definitions": {
    "GetPagedResponseContract[IndustryModelInfo]": {
      "type": "object",
      "properties": {
        "nextLink": {
          "type": "string"
        },
        "values": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/IndustryModelInfo"
          }
        }
      }
    },
    "IndustryModelInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition"
        }
      }
    },
    "ErrorDefinition": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "string"
        }
      }
    },
    "GetResponseContract[IndustryModel]": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/IndustryModel"
        }
      }
    },
    "IndustryModel": {
      "type": "object",
      "properties": {
        "modelName": {
          "type": "string"
        },
        "modelId": {
          "type": "string"
        },
        "entities": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Entity"
          }
        },
        "relationships": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Relationship"
          }
        }
      }
    },
    "Entity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "attributes": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attribute"
          }
        }
      }
    },
    "Relationship": {
      "type": "object",
      "properties": {
        "fromEntityId": {
          "type": "string"
        },
        "toEntityId": {
          "type": "string"
        },
        "fromAttributeId": {
          "type": "string"
        },
        "toAttributeId": {
          "type": "string"
        }
      }
    },
    "Attribute": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "dataType": {
          "type": "string"
        }
      }
    },
    "RequestBodyForPutContract[Object]": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object"
        }
      }
    },
    "ResponseBodyForPutContract[Object]": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "provisioningState": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/RequestBodyForPutContract[Object]"
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "flow": "Implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 flow."
    }
  }
}